@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

.active {
  background-color: #ffebf5;
  border-color: #fb80a6;
}
